/* Estilos Generales | Tvfy */
@import url(spinner.css);

/* 1. Layout */
body {
	background-color: #bdc3c7;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

#app-container{
	width: 100%;
	overflow: hidden;
}

#app-header{
	width: 100%;
	height: 10vh;
	position: fixed;
	background-color: #2ecc71;
	text-align: center;
	z-index: 99;
}

#app-header h1{
	line-height: 10vh;
	margin: 0;
	color: #fff;
}

#app-header a.danger{
	color: red;
}

#app-body{
	padding-top: 15vh;
	width: 80%;
	margin: 0 auto;
	min-height: 75vh;
}

#app-footer{
	width: 100%;
	height: 10vh;
}

#app-footer p{
	margin: 0 auto;
	width: 40%;
	text-align: center;
	padding-top: 30px;
	border-top: 1px solid #7f8c8d;
}

.big{
	font-size: 2rem;
}

/* Formulario */
.search-form{
	margin: 20px 0;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-around;
	font-size: 1.5rem;
}

.search-form input[type="text"]{
	width: 80%;
	min-width: 200px;
	padding: 12px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 6px;
	border: none;
}

.search-form input[type="text"]:focus{
	outline-color: #2ecc71;
}

.search-form button[type="submit"]{
	width: 15%;
	min-width: 100px;
	border: none;
	color: #fff;
	line-height: 3;
	border-radius: 6px;
	background-color: #2ecc71;
}


/* TV show */

.tv-show{
	width: 100%;
	overflow: hidden;
	padding: 16px;
	background-color: #fff;
	margin-bottom: 16px;
	position: relative;
}

.tv-show h2{
	margin: 0;
	padding: 0;
}

.tv-show:hover {
	background-color: #ecf0f1;
}

.tv-show .img-container{
	width: 20%;
}

.tv-show img{
	max-width: 100%;
}

.tv-show .info {
	width: 65%;
	padding-left: 2%;
}

.left{
	float: left;
}

.right{
	float: right;
}

/* Emoji */
.tv-show button.like{
	background: transparent;
	outline: 0;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 22px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.tv-show.liked{
	background-color: #e08283;

}

.tv-show.liked:hover{
	background-color: #f1a9a0;
}

.tv-show.liked button.like{
	font-size: 30px;
}